.second-nav {
  background: url("../images/career/Career/header-bg.jpg") no-repeat center/cover;
  height: 3.44rem;
  position: relative;
}
.second-nav .second-nav-box {
  padding: 0.89rem 0 0.41rem;
  position: absolute;
  width: 100%;
  bottom: 0rem;
}
.second-nav .second-nav-title {
  font-size: 0.73rem;
  text-transform: uppercase;
}
.second-nav .second-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.42rem;
}
.second-nav .second-nav-wrap .breadcrumbs,
.second-nav .second-nav-wrap .breadcrum {
  font-size: 0.14rem;
  font-weight: 400;
  text-align: left;
  line-height: 0.2rem;
  color: #b0b1b7;
}
.second-nav .second-nav-wrap .breadcrumbs .iconfont,
.second-nav .second-nav-wrap .breadcrum .iconfont {
  color: #b0b1b7;
  font-size: 0.14rem;
}
.second-nav .second-nav-wrap .breadcrumbs a,
.second-nav .second-nav-wrap .breadcrum a {
  display: inline-block;
  margin: 0 0.08rem;
  vertical-align: top;
  color: #b0b1b7;
}
.second-nav .second-nav-wrap .breadcrumbs a:first-child,
.second-nav .second-nav-wrap .breadcrum a:first-child {
  margin-left: 0;
}
.second-nav .second-nav-wrap .breadcrumbs a:last-child,
.second-nav .second-nav-wrap .breadcrum a:last-child {
  color: #b39341;
}
.second-nav .second-nav-wrap .second-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.second-nav .second-nav-wrap .second-menu .menu-item {
  margin-left: 0.4rem;
  color: #2d2a2a;
  font-family: "Muli";
  font-size: 0.17rem;
}
.second-nav .second-nav-wrap .second-menu .menu-item a {
  padding: 0.09rem 0;
}
.second-nav .second-nav-wrap .second-menu .active a {
  border-bottom: 3px solid #c1a771;
}
.second-nav.white .second-nav-title {
  color: #fff;
}
.second-nav.white .second-menu .menu-item {
  color: #fff;
}

.third-nav {
  background: #d8d8d8;
}
.third-nav .nav-wrap .nav-menu ul {
  display: flex;
  justify-content: flex-end;
}
.third-nav .nav-wrap .nav-menu ul li {
  padding-left: 0.4rem;
}
.third-nav .nav-wrap .nav-menu ul li a {
  display: block;
  padding: 0.24rem 0rem;
  font-size: 0.16rem;
  font-family: Muli, Muli-5;
  font-weight: 400;
  text-align: right;
  color: rgba(38, 39, 39, 0.9);
  line-height: 0.24rem;
}
.third-nav .nav-wrap .nav-menu ul li.active a {
  padding-bottom: 0.21rem;
  border-bottom: 0.03rem solid #c1a771;
}

.content_area .content_title {
  padding-left: 1rem;
  font-size: 0.4rem;
  font-family: Muli, Muli-8;
  font-weight: 700;
  color: #262727;
  line-height: 0.59rem;
  position: relative;
}
.content_area .content_title:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.03rem;
  width: 0.75rem;
  background: #bfab73;
}
.content_area .content_title.white {
  color: #fff;
}

.next-column .next-column-banner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/news&events/events/next-column.png") no-repeat center/cover;
}
.next-column .next-column-wrap {
  padding: 1.56rem 0;
}
.next-column .next-column-wrap .next-column-text {
  text-align: center;
  color: #b49b57;
  font-family: "Muli";
}
.next-column .next-column-wrap .next-column-text h3 {
  font-size: 0.42rem;
  font-weight: 300;
  text-transform: uppercase;
}
.next-column .next-column-wrap .next-column-text .next-column-line {
  width: 0.95rem;
  margin: 0.27rem auto;
  border-bottom: 2px solid #bfab73;
}
.next-column .next-column-wrap .next-column-text p {
  font-size: 0.15rem;
  color: #f9f9f9;
}

.list-button {
  text-align: center;
  margin-bottom: 80px;
}
.list-button .screen-reader-text {
  display: none;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.list-button .page-numbers {
  display: inline-block;
  padding: 0 0.15rem;
  font-size: 0.16rem;
  line-height: 0.19rem;
  color: rgba(19, 19, 19, 0.3);
}
.list-button .page-numbers.current {
  color: #103a8a;
}
.list-button .page-numbers .button-pre {
  font-size: 0.14rem;
  line-height: 0.14rem;
  color: rgba(19, 19, 19, 0.3);
  font-family: "iconfont" !important;
  font-style: normal;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.list-button .page-numbers .button-pre::before {
  content: "\e62d";
}
.list-button .page-numbers .button-net {
  font-size: 0.14rem;
  line-height: 0.14rem;
  color: rgba(19, 19, 19, 0.3);
  font-family: "iconfont" !important;
  font-style: normal;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.list-button .page-numbers .button-net::before {
  content: "\e62d";
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.32rem;
  margin-top: 0.44rem;
}
.pagination .prev,
.pagination .next,
.pagination .normal,
.pagination .current {
  width: 0.18rem;
  height: 0.18rem;
  cursor: pointer;
}
.pagination .prev a,
.pagination .next a,
.pagination .normal a,
.pagination .current a {
  vertical-align: text-top;
  text-align: center;
  font-size: 0.18rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 0.18rem;
}
.pagination .prev a {
  background: url("../images/faculty&research/Faculty/first-page.png") no-repeat center/0.083rem 0.146rem;
}
.pagination .next a {
  background: url("../images/faculty&research/Faculty/last-page.png") no-repeat center/0.083rem 0.146rem;
}
.pagination .normal,
.pagination .current,
.pagination .page-numbers {
  font-size: 0.18rem;
  font-family: "ArialMT";
  color: #adb0b2;
  padding: 0 0.1rem;
}
.pagination .current {
  opacity: 1;
  color: #c9bd97;
}

@media screen and (max-width: 910px) {
  .second-nav .second-nav-wrap .breadcrumbs,
.second-nav .second-nav-wrap .breadcrum {
    font-size: 10px;
    line-height: 10px;
  }
  .second-nav .second-nav-wrap .breadcrumbs .iconfont,
.second-nav .second-nav-wrap .breadcrum .iconfont {
    font-size: 14px;
  }

  .second-nav {
    height: auto;
  }
  .second-nav .second-nav-box {
    padding: 40px 0 20px;
    position: relative;
  }
  .second-nav .second-nav-title {
    font-size: 30px;
  }
  .second-nav .second-nav-wrap {
    display: block;
    margin-top: 12px;
  }
  .second-nav .second-nav-wrap .second-menu {
    margin-top: 45px;
  }
  .second-nav .second-nav-wrap .second-menu ul {
    margin-top: 45px;
  }
  .second-nav .second-nav-wrap .second-menu .menu-item {
    margin-left: unset;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 0 10px;
  }
  .second-nav .second-nav-wrap .second-menu .menu-item a {
    padding: 6px 0;
    border-bottom-width: 1px;
  }

  .third-nav .nav-wrap .nav-menu ul {
    justify-content: flex-start;
  }
  .third-nav .nav-wrap .nav-menu ul li {
    padding-left: 0;
    padding-right: 20px;
  }
  .third-nav .nav-wrap .nav-menu ul li.active a {
    padding-bottom: unset;
  }
  .third-nav .nav-wrap .nav-menu ul li a {
    padding: 24px 0;
    font-size: 12px;
    line-height: 24px;
  }

  .next-column .next-column-wrap {
    padding: 32px 0;
  }
  .next-column .next-column-wrap .next-column-text h3 {
    font-size: 21px;
  }
  .next-column .next-column-wrap .next-column-text .next-column-line {
    width: 95px;
    margin: 27px auto;
  }
  .next-column .next-column-wrap .next-column-text p {
    font-size: 15px;
  }

  .content_area .content_title {
    padding-left: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .content_area .content_title::before {
    height: 3px;
    width: 20px;
  }

  .list-button {
    margin-bottom: 40px;
  }

  .pagination {
    margin-top: 20px;
    gap: 10px;
  }
  .pagination .normal,
.pagination .current,
.pagination .page-numbers {
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 1.2;
    padding: 0 6px;
  }
  .pagination .page-numbers .button-net,
.pagination .page-numbers .button-pre {
    font-size: 14px;
    line-height: 1.4;
  }
}

/*# sourceMappingURL=inner.css.map */
