@font-face {
  font-family: "muli-ExtraLight";
  src: url("../static/font/Muli-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "muli-Light";
  src: url("../static/font/Muli-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "muli";
  src: url("../static/font/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "muli-bold";
  src: url("../static/font/Muli-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../static/font/Muli-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Butler-ExtraBold";
  src: url("../static/font/Butler_ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ArialMT";
  src: url("../static/font/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "PingFang SC", "PingFangSC", "Microsoft YaHei", sans-serif, Arial;
  color: #202020;
}

html.hidden {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
button {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a[href] {
  cursor: pointer;
}

img {
  max-width: 100%;
  border: 0;
  object-fit: cover;
}

button {
  outline: none;
}

.clear {
  clear: both;
}

input {
  outline: none;
  background: transparent;
  border: none;
  outline: medium;
  width: 100%;
}

input:focus {
  outline: none;
  background-color: #fff;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #807c7c;
  transition: background-color 5000s ease-out 0.5s;
}

textarea {
  background: transparent;
  border: none;
}

textarea:focus {
  outline: none;
  background-color: #fff;
}

.text_clip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
    transform: scale(0.4) translateY(-10px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
    transform: scale(0.4) translateY(-10px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
    transform: scale(0.4) translateY(-10px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
    transform: scale(1) translateY(-10px);
  }
}
@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.transitionLable {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 1s cubic-bezier(0.5, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0, 0.7, 0.1, 1);
  transition: opacity 1s cubic-bezier(0.5, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0, 0.7, 0.1, 1);
  transition: transform 1s cubic-bezier(0, 0.7, 0.1, 1), opacity 1s cubic-bezier(0.5, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0, 0.7, 0.1, 1), opacity 1s cubic-bezier(0.5, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0, 0.7, 0.1, 1);
  opacity: 0;
}

.transitionLable.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

@keyframes transitionRight0 {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.transitionRight-0 {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
}

.transitionRight-0.active {
  animation: transitionRight0 0.6s forwards;
}

@keyframes transitionRight2 {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.transitionRight-2 {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
}

.transitionRight-2.active {
  animation: transitionRight2 1s 0.2s forwards;
}

@keyframes transitionRight4 {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.transitionRight-4 {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
}

.transitionRight-4.active {
  animation: transitionRight4 1s 0.4s forwards;
}

@keyframes transitionRight6 {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.transitionRight-6 {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
}

.transitionRight-6.active {
  animation: transitionRight6 1s 0.4s forwards;
}

@keyframes transitionBottom0 {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.transitionBottom-0 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.transitionBottom-0.active {
  animation: transitionBottom0 1s forwards;
}

@keyframes transitionBottom2 {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.transitionBottom-2 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.transitionBottom-2.active {
  animation: transitionBottom2 1s 0.2s forwards;
}

@keyframes waveMove {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: -30px 100%;
  }
}
@keyframes button-bgFlash {
  100% {
    right: 0;
    left: initial;
  }
}
.button-backFlash {
  position: relative;
  z-index: 1;
  padding: 0.2rem 0.26rem;
  border-radius: 4px;
  transition: color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.button-backFlash::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #63cae1;
  transition: width 0.3s ease;
  box-sizing: border-box;
}

.button-backFlash::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border: 2px solid #63cae1;
  box-sizing: border-box;
}

.button-backFlash:hover {
  color: #63cae1;
}

.button-backFlash:hover::after {
  width: 0;
  animation: button-bgFlash 0.0001s forwards;
}

.hoverLine {
  position: relative;
}
.hoverLine:hover {
  border-color: transparent !important;
}
.hoverLine:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  text-decoration: none;
  background: url(../images/common/hoverLIne.svg) repeat-x 0 100%;
  background-size: 30px auto;
  animation: waveMove 1s infinite linear;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
}

.content {
  width: 16rem;
  max-width: 1600px;
  margin: 0 auto;
}

.page-content {
  width: 14rem;
  max-width: 1400px;
  margin: 0 auto;
}

.page-content-1200 {
  width: 12rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page-content-918 {
  width: 9.18rem;
  max-width: 918px;
  margin: 0 auto;
}

.fixed-button {
  opacity: 0;
  visibility: hidden;
  width: 0.56rem;
  position: fixed;
  right: 0.45rem;
  top: 60%;
  z-index: 90;
  cursor: pointer;
  padding-top: 0.04rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.fixed-button a {
  display: block;
  padding: 0 0.12rem;
  background: #2c529a;
  box-sizing: border-box;
}
.fixed-button .img {
  margin: 0 auto;
  padding: 0.16rem 0;
  text-align: center;
  vertical-align: middle;
}
.fixed-button .hover-dashed {
  border-bottom: dashed 1px rgba(255, 255, 250, 0.37);
}
.fixed-button img {
  vertical-align: middle;
}
.fixed-button .to-top {
  color: #fff;
  background: #1d242c;
  border-top: 1px solid rgba(255, 255, 250, 0.5);
}
.fixed-button .to-top .img {
  transform: rotate(180deg);
}
.fixed-button .to-top span {
  vertical-align: middle;
  font-size: 12px;
  line-height: 12px;
}
.fixed-button.active {
  opacity: 1;
  visibility: visible;
  right: 0.25rem;
}

.animated-image {
  width: 4rem;
  height: 5.6rem;
  overflow: hidden;
}
.animated-image img,
.animated-image .image,
.animated-image .avatar {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
.animated-image:hover img,
.animated-image:hover .image,
.animated-image:hover .avatar {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

.main-container {
  color: #333;
  background: #f3f7ff;
  min-height: 100vh;
  width: 100%;
  padding-top: 0.4rem;
}

.main-container.page {
  padding-top: 1.5rem;
  background: #fff;
  transition: padding 0.3s ease-in-out;
  -webkit-transition: padding 0.3s ease-in-out;
}

.main-container.page.in {
  padding-top: 1.36rem;
}

.content_area {
  position: relative;
}
.content_area .anchorPositionFix {
  position: absolute;
  top: -1.5rem;
}

@media screen and (max-width: 1366px) {
  .page-content-918 {
    width: 82%;
  }
  .page-content-1200 {
    width: 82%;
  }
  .page-content {
    width: 82%;
  }
  .content {
    width: 82%;
  }
  .fixed-button {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .main-container.page {
    padding-top: 82px;
  }
  .main-container.page.in {
    padding-top: 52px;
  }
  .page-content-918 {
    width: 92%;
  }
  .page-content-1200 {
    width: 92%;
  }
  .page-content {
    width: 92%;
  }
  .content {
    width: 92%;
  }
  .fixed-button {
    display: none;
  }
}
@media screen and (max-width: 910px) {
  .main-container {
    padding-top: 30px;
  }
}
.main-container.publication .content_area.dean {
  display: none;
}
.main-container.academics-about.ipe .content_area.heads-message {
  display: none;
}
